:root {
    --primary-color: hsl(47, 88%, 63%);
    --secondary-color: hsl(0, 0%, 7%);
    --text-gray: hsl(0, 0%, 50%);
    --white: hsl(0, 0%, 100%)
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    line-height: 150%;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

h1, .badge-text {
    font-weight: 800;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 800;
    margin-left: 5px;
}

a:hover {
    text-decoration: underline;
}

.badge {
    width: 58px;
    border-radius: 4px;
    padding: 4px 12px;
    background-color: var(--primary-color);
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1
}

.flex-col {
    flex-direction: column
}

.flex-cc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-full {
    height: 100%;
}

main {
    flex: 1
}