.card {
    width: 334px;
    height: 472px;
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    background-color: var(--white);
    z-index: 10;
    padding: 24px;
    position: relative;
    filter: drop-shadow(8px 8px 0px var(--secondary-color));

}

.card-header {
    width: 100%;
    height: 200px;
}

.card-header img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.card-body {
    margin: 24px 0px;
}


.card-title {
    margin-top: 12px;
    cursor: pointer;
    font-size: 24px;
    line-height: 150%;
}

.card-title:hover {
    color: var(--primary-color);
}

.card-description {
    color: var(--text-gray);
    margin-top: 12px;
    font-size: 16px;
    line-height: 150%;
}

.card-footer {
    display: flex;
    align-items: center;

}

.card-footer img {
    width: 32px;
    height: 32px;
}

.author {
    margin-left: 12px;
}

.published {
    margin-top: 12px;
    font-size: 14px;
}

footer{
    padding: 8px 0px;
}

@media screen and (max-width:376px) {
    .card {
        width: 277px;
        height: 451px;
    }

    .card-title {
        font-size: 20px;
        line-height: 150%;
    }

    .card-description {
        font-size: 14px;
        line-height: 150%;
    }
    .published {
        font-size: 12px;
        line-height: 150%;
    }
}